# R session files
.Rhistory
.RData
.Rproj.user
*.Rproj

# Intermediate objects that can be rebuilt from 00_data/
03_temp/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# LaTeX aux
04_slides/*.aux
04_slides/*.log
04_slides/*.nav
04_slides/*.out
04_slides/*.snm
04_slides/*.toc
04_slides/*.vrb
04_slides/*.synctex.gz
04_slides/*.fls
04_slides/*.fdb_latexmk
